<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    {% block style %} {% endblock %}
</head>

<body>

    <header>
        <div class="header_div">
            <div class="logo">
                <h1>Dashewar Abhiram</h1>
            </div>
            <div class="anchor">
                <nav>
                    <a href="{{url_for('home')}}" class="link">Home</a>
                    <a href="{{url_for('about')}}" class="link">About</a>
                    <a href="{{url_for('skills')}}" class="link">Skills</a>
                    <a href="{{url_for('contact')}}" class="link">Contact</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="main_div">
        <div class="main">
            <div class="main_content">
                {% block content %} {% endblock %}
            </div>
            <div class="image_content">
                <div class="image">
                    <div class="main_image">

                    </div>
                </div>
                <div class="image_heading">

                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2025 Dashewar Abhiram. All rights reserved.
    </footer>
    <script>
        window.addEventListener('load', function () {
            if (performance.navigation.type === 1) {
                window.location.href = "/";
            }
        });
    </script>
</body>

</html>