{% extends "base.html"%}
{% block title %}Contact{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='contact.css')}}">
{% endblock %}

{% block content %}
    <h3>Wanna hire me?</h3>

    <p class="paragraph">
        Email: <a href="mailto:abhidashewar@gmail.com" target="_black" rel="noopener noreferrer">abhidashewar@gmail.com</a>
    </p>
    <P class="paragraph">Phone: +91-9490018370</P>
    <p class="paragraph">Github: <a href="https://github.com/abhiram-dashewar" target="_black">Abhiram-Dashewar</a></p>
    <p class="paragraph">Location: Nizamabad,Telengana.</p>
{% endblock %}